@model GravarRecuperarImagens.Models.Imagem

@{
    ViewBag.Title = "Importar Imagem";
}

<h2>Importar Imagem</h2>
<p>
    <a class="btn btn-xs btn-info" href="@Url.Action("ListarImagens")">Listar Imagens</a>
</p>


@using (Html.BeginForm("ImportarImagem", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div id="panelDanger" class="panel panel-danger">
        <ul id="validationError" class="list-group-item-danger">
            @Html.ValidationSummary()
        </ul>
    </div>
    <div id="panelSuccess" class="panel panel-success">
        <ul class="list-group-item-success">
            @ViewBag.Message
        </ul>
    </div>

    <div class="form-horizontal">
        <hr />
        @*@Html.ValidationSummary(false)*@

        <div class="form-group">
            <label class="control-label col-md-2">Upload</label>
            <div class="col-md-10">
                <input type="file" name="someOtherFile" class="form-control" onchange="Javascript:VerificaTamanhoArquivo();" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Submit" id="btnSubmit" value="Upload Files" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

    <script>
        function VerificaTamanhoArquivo() {
            var fi = document.getElementById('file');
            var maxFileSize = 1024 * 1024 * 10; // 10MB -> 4 * 1024 * 1024

            if (fi.files.length > 0) {

                for (var i = 0; i <= fi.files.length - 1; i++) {

                    var fsize = fi.files.item(i).size;

                    if (fsize > maxFileSize) {
                        $('#validationError').text("O Tamanho do arquivo excede o limite permitido de 10MB");
                        fi.value = null;
                    }
                }
            }
        }
    </script>
